@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #091921;
  font-family: "Poppins", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.clock {
  padding: 100px;
}

.clock1 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 100px;
}

.clock01 {
  width: 350px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(./img/clock.png);
  background-size: cover;
  border: 4px solid #091921;
  border-radius: 50%;
  box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05),
    inset 0 -15px 15px rgba(255, 255, 255, 0.05), 0 15px 15px rgba(0, 0, 0, 0.3),
    inset 0 -15px 15px rgba(0, 0, 0, 0.3);
}

.clock1::before {
  content: " ";
  position: absolute;
  width: 15px;
  height: 15px;
  background: #fff;
  border-radius: 50%;
  z-index: 15;
}

.clock1 .hour,
.clock1 .min,
.clock1 .sec {
  position: absolute;
}

.clock1 .hour,
.hr {
  width: 160px;
  height: 160px;
}
.clock1 .min,
.mn {
  width: 190px;
  height: 190px;
}
.clock1 .sec,
.sc {
  width: 230px;
  height: 230px;
}

.hr,
.sc,
.mn {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  position: absolute;
  border-radius: 50%;
}

.hr::before {
  content: " ";
  position: absolute;
  width: 8px;
  height: 80px;
  background: #ff105e;
  z-index: 10;
  border-radius: 6px 6px 0 0;
}
.mn::before {
  content: " ";
  position: absolute;
  width: 4px;
  height: 90px;
  background: #fff;
  z-index: 11;
  border-radius: 6px 6px 0 0;
}
.sc::before {
  content: " ";
  position: absolute;
  width: 2px;
  height: 150px;
  background: #fff;
  z-index: 12;
  border-radius: 6px 6px 0 0;
}

/* *************************** */
/* ************* clock2 ************** */
/* *************************** */

.clock2 {
  display: grid;
  height: 100%;
  place-items: center;
}

.wrapper {
  height: 100px;
  width: 360px;
  position: relative;
  background: linear-gradient(135deg, #14ffe9, #ffeb3b, #ff00e0);
  border-radius: 10px;
  cursor: default;
  animation: animate 2s linear infinite;
}

.wrapper .display,
.wrapper span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wrapper .display {
  z-index: 999;
  height: 85px;
  width: 345px;
  background: #1b1b1b;
  border-radius: 6px;
  text-align: center;
}

.display #time {
  line-height: 85px;
  color: #fff;
  font-size: 50px;
  font-weight: 600;
  letter-spacing: 1px;
  background: linear-gradient(135deg, #14ffe9, #ffeb3b, #ff00e0);
  /* -webkit-backdrop-clip: text; */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate 2s linear infinite;
}

@keyframes animate {
  100% {
    filter: hue-rotate(360deg);
  }
}

.wrapper span {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  background: inherit;
}

.wrapper span:first-child {
  filter: blur(7px);
}

.wrapper span:last-child {
  filter: blur(20px);
}
